.content-section {
	padding-bottom: 2rem;

	@media screen and (min-width: 800px) {
		display: table;
		width: 100%;
		padding-bottom: 0;
	}

	aside {
		background: #ccc;
		padding: 2rem 1.5rem;

		.link-list {
			li {
				&:first-child a {
					text-decoration: underline;
				}
			}
		}

		@media screen and (min-width: 800px) {
			display: table-cell;
			width: 33%;
			text-align: right;
			vertical-align: top;
			padding: 2rem;

			.link-list {
				width: 50%;
				display: inline-block;
			}
		}
	}

	.content {
		padding: 1.5rem;

		h2 {
			font-size: 1.75rem;
			font-weight: normal;
			margin:1rem 0 2rem;
			line-height: 1;
		}

		button {
			margin-top: 1rem;

			@media screen and (min-width: 800px) {
				margin-top: 4rem;
			}
		}

		@media screen and (min-width: 800px) {
			display: table-cell;
			width: 75%;
			vertical-align: top;
			padding: 2rem 4rem 4rem;

			p {
				max-width: 640px;
			}
		}
	}
}