.main-footer {
	padding: 2rem 1.5rem;
	background: #eee;
	text-align: center;

	nav {
		a {
			display: inline-block;
			padding: .5rem .5rem;
			text-decoration: none;
		}

		@media screen and (min-width: 800px) {
			display: table-cell;
			text-align: left;
			vertical-align: middle;
		}
	}

	.link-list.social {
		margin-top: 3rem;

		li {
			display: inline-block;

			+ li {
				margin-left: 1rem;
			}

			a {
				display: block;
				height: 48px;
				width: 48px;
				background: #999;
			}
		}

		@media screen and (min-width: 800px) {
			display: table-cell;
			text-align: right;
			margin-top: 0;
			vertical-align: middle;
		}
	}
}